< !DOCTYPE html>
< html lang="en">
< head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Produtos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        h1 {
            color: #000000;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid black(0, 0, 0);
            border-radius: 4px;
        }

        .Avançar, .Voltar {
            background-color: blue;
            color: white(255, 255, 255);
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        .Avançar:hover, .Voltar:hover {
            color: white;
        }
    </style>
</head>
<body>
    <h1>Adicione seu Produto:</h1>
    <label for="Produto">Produto:</label>
    <input type="text" id="Produto" name="Produto">

    <label for="Quantidade">Quantidade:</label>
    <input type="text" id="Quantidade" name="Quantidade">

    <button class="Voltar">Voltar para a página anterior</button>
    <button class="Avançar">Avançar →</button>
</body>
</html>
