html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    overflow: auto;
    margin: 0; 
    padding: 0;
}

.container {
    position: relative;
}

.background-image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.text-columns {
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-left {
    float: right; /* Flutuar a primeira coluna à esquerda */
    width: 95%; /* 48% para deixar espaço entre as colunas */
    padding: 32px;
    text-align: justify;
}

.column-right {
    float: left; /* Flutuar a segunda coluna à direita */
    width: 30%; /* 48% para deixar espaço entre as colunas */
    padding: 0px;
    text-align: justify;
}

clear {
    clear: both;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #D2E0FB;
    padding: 5px 20px;
}

#paginas {
    width: 200px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    background: #B1B1B1;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
}

#divBusca {
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

#buscar {
    border-radius: 15px;
    border: none;
    height: 32px;
    background-color: #2F4F4F;
    box-shadow: none;
}

#img_Buscar {
    display: flex;
}

footer {
    margin: 0;
    padding: 0;
    background-color: #D7E5CA;
    text-align: center;
    padding: 10px;
}
